<div class="row d-flex align-items-center">
    <div class="col-lg-3">
        <button class="btn btn-danger w-100">XEM NGAY</button>
    </div>
    <div class="col-lg-9">
        <h2 class="text-warning">{{course.name}}</h2>
    </div>
</div>
