<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Express App</title>
</head>
<body>
    <header>
        <h1>Welcome to the Express App</h1>
    </header>
  {{{body}}}
  <footer>
      <p>&copy; 2024 Express App</p>   
    </footer>
</body>
</html>
