<nav class="navbar navbar-expand-lg navbar-animet">
  <div class="container-fluid px-4">

    <!-- Logo -->
    <a class="navbar-brand animet-logo" href="/">AnimeHay</a>

    <!-- Mobile toggle -->
    <button class="navbar-toggler" type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarMain"
      aria-controls="navbarMain"
      aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarMain">
      <!-- Nav links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 align-items-lg-center">

        <li class="nav-item">
          <a class="nav-link animet-link active" href="/">XEM PHIM</a>
        </li>
        <li class="nav-item">
          <a class="nav-link animet-link" href="/courses/create">THÊM ANIME</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link animet-link dropdown-toggle" href="#"
            role="button" data-bs-toggle="dropdown" aria-expanded="false">
            NĂM PHÁT HÀNH
          </a>
          <ul class="dropdown-menu animet-dropdown">
            <li><a class="dropdown-item" href="#">Năm 2025</a></li>
            <li><a class="dropdown-item" href="#">Năm 2024</a></li>
            <li><a class="dropdown-item" href="#">Năm 2023</a></li>
            <li><a class="dropdown-item" href="#">Trước 2023</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link animet-link dropdown-toggle" href="#"
            role="button" data-bs-toggle="dropdown" aria-expanded="false">
            THỂ LOẠI
          </a>
          <ul class="dropdown-menu animet-dropdown">
            <li><a class="dropdown-item" href="#">Isekai</a></li>
            <li><a class="dropdown-item" href="#">Slice of Life</a></li>
            <li><a class="dropdown-item" href="#">Hành động</a></li>
          </ul>
        </li>

      </ul>

      <!-- Search -->
      <form class="d-flex animet-search" role="search">
        <span class="search-icon">&#128269;</span>
        <input class="animet-search-input" type="search"
          placeholder="Tìm: tên phim, đạo diễn, diễn viên..."/>
      </form>
    </div>
  </div>
</nav>